body{
    background-color: #f9f9f9;
    font-size: 16px;
    color: #444;
    font-family: sans-serif;
}

.content{
    width: 100%;
    margin: 10px auto;
    margin-bottom: 50px;
}

header{
    background-color: white;
    padding: 5px 5px;
    border-radius: 5px;
    border: 1px solid #f0f0f0;
    margin-bottom: 10px;
}

header h2.judul{
    text-align: center;
}

nav a {
    font-size: 18px;
    font-weight: 400;
    text-decoration: none;
    color: white;
}
nav a:hover{
    font-weight: bold;
}

nav li {
    display: inline;
    list-style-type: none;
    margin-right: 20px;
}

nav {
    background-color: #00a2c6;
    padding: 5px;
    position: sticky;
    top: 0;
}

#nilai a{
    color: rgb(5, 5, 5);
}

div.badan {
    background-color: white;
    border-radius: 5px;
    border: 1px solid blue;
    margin: 10px auto;
    padding: 10px 10px;
}

a.button, button.tombol   {
    background-color: #424eee;
    color: white;
    text-decoration: none;
    text-align: center;
    margin-bottom: 10px;
    padding: 5px 10px;
    cursor: pointer;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}

a.aksi{
    font-size: 14px;
    text-decoration: none;
    color: white;
    background-color: #424eee;
    padding:  5px 7px;
    border-radius: 5px;
}

input.cari {
    box-sizing: border-box;
    width: 20%;
    border-width: 1px;
    border-style: solid;
    padding: 5px;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

button.cari {
    background: #424eee;
    border: none;
    padding: 6px 12px;
    border-radius: 5px;
    color: white;
    font-size: 0.95em;
}

input.cari {
    padding: 5px 12px;
}

h3 {
    font-family: sans-serif;
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: #666;
    text-shadow: 1px 1px 0px #fff;
    background: #eeebec;
    border: #ccc 1px solid;
    overflow: auto;
    
}

table th {
    padding: 8px 20px;
    border-left: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    background: #ededed;
    font-size: 14px;
}

table th:first-child{
    border-left: none;
}



table tr {
    text-align: center;
    padding-left: 10px;
}

table td:first-child {
    text-align: left;
    padding-left: 10px;
    border-left: 0;
}

table td {
    padding: 10px 20px;
    overflow: auto;
    font-size: 15px;
    border-top: 1px solid #ffffff;
    border-bottom: 1px solid #e0e0e0;
    border-left: 1px solid #e0e0e0;
    background: #fafafa;
    background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
    background: -moz-linear-gradient(top, #fbfbfb, #fafafa);
}


table tr:hover td {
    background: #f2f2f2;
    background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
    background: -moz-linear-gradient(top, #f2f2f2, #f0f0f0);
}

.blink {
    animation: blink-animation 0.5s steps(5, start) infinite;
    -webkit-animation: blink-animation 0.5s steps(5, start) infinite;
    }
    @keyframes blink-animation {
    to {
    visibility: hidden;
    }
    }
    @-webkit-keyframes blink-animation {
    to {
    visibility: hidden;
    }
    }